.container {
    padding: 1px 15px;
    margin: 60px 0 50px 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.clean-list {
    list-style-type: none;
    padding: 0;
}