@import 'helpers';

@font-face {
    font-family: 'Kalam';
    src: url('~@/assets/fonts/kalam/Kalam-Regular.ttf');
}

* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Kalam', cursive;
}

button, input, a {
    font-family: 'Kalam', cursive;
}

.issue-list {
    .issue {
        // border-radius: 20px;
        border: 4px solid #efecec;
        box-shadow: -1px 1px #aeadad;
        width: 100%;
        height: 350px;
        margin: 5px;
    }
}

.issue-preview {
    height: 100%;
    box-shadow: inset -1px 1px #aeadad;
    // border-radius: 20px;
    padding: 10px;

    h2 {
        text-transform: capitalize;
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }

    h4 {
        text-transform: capitalize;
        font-size: .8em;
    }
    img {
        max-width: 100px;
        max-height: 100px;
    }
}

.VueCarousel-wrapper, .VueCarousel-inner, .VueCarousel-slide {
    height: 100%;
}

body>iframe {
    width: 200% !important;
    position: absolute !important;
    float: left !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}