@import 'helpers';
@font-face {
    font-family: 'Kalam';
    src: url('~@/assets/fonts/kalam/Kalam-Regular.ttf');
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('~@/assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'Rubik';
    src: url('~@/assets/fonts/Rubik/Rubik-Regular.ttf');
}

* {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Kalam', cursive;
    color: black;
}

button,
input,
a {
    font-family: 'Kalam', cursive;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.VueCarousel-wrapper,
.VueCarousel-inner,
.VueCarousel-slide {
    height: 100%;
}

body {
    iframe {
        width: 700px !important;
        position: fixed !important;
        float: left !important;
        left: 50% !important;
        top: -200% !important;
        transform: translate(-50%, -50%) !important;
        transition-duration: 1s !important;
        &.open {
            top: 50% !important;
        }
    }
}

@media(min-width:700px) {
    body>iframe {
        width: 100% !important;
    }
}

.about.about-open {
    right: 0;
    z-index: 1;
}